* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html,
body {
  background: #3e4144;
  margin: 20px;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}

dd {
  margin-left: 16px;
  margin-bottom: 20px;
}

button {
  background-color: rgb(133, 58, 255);
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 24px;
}
button:hover {
  background-color: rgb(109, 40, 219);
}
button:focus {
  outline: none;
}
button.danger {
  background-color: rgb(255, 53, 131);
}
button.danger:hover {
  background-color: rgb(223, 32, 105);
}
button.success {
  background-color: rgb(53, 255, 130);
}
button.success:hover {
  background-color: rgb(36, 224, 108);
}

.p-1 {
  padding: 1px;
}
.mr-8 {
  margin-right: 8px;
}

h2 {
  background: rgb(5, 0, 20);
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 16px 0;
  border-radius: 8px;
  margin-bottom: 24px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: rgb(5, 0, 20);
  padding: 32px 24px;
  border-radius: 8px;
}
.col {
  flex-grow: 1;
  width: 100%;
}
hr {
  margin-bottom: 24px;
  margin-top: -8px;
}
input {
  width: 100%;
  display: block;
  margin: 8px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
